@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik+Gemstones&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@layer base, components, utilities;
@import "tailwindcss";

@theme {
  --font-righteous: "Righteous", cursive;
  --font-gemstones: "Rubik Gemstones", sans-serif;
  --font-saira: "Saira Condedensed", sans-serif;
}
